body{
    margin:0;
    padding:0;
    background-color: black;
}
.btn-containers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    background-color: grey;
    padding:20px;
    width: 500px;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(58, 56, 56, 0.5);
    margin:50px auto;
}
.btn{

    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 120px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: darkblue;
}
#inputText{
    display: block;
    margin: 100px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}